@model Expenses.Models.ViewModels.EstablishmentViewModel

@{
    ViewData["Title"] = "Editar Estabelecimento";
}
<br />
<br />
<h2>@ViewData["Title"]</h2>
<br />

<div class="container">
    <form asp-action="Edit">
        <legend>Editar: </legend>
        <input type="hidden" asp-for="Establishment.Id" />
        <div class="row border-primary">
            <div class="col-md-6">
                <label asp-for="Establishment.Name" class="control-label">Nome</label>
                <input asp-for="Establishment.Name" class="form-control" />
            </div>
            <div class="col-md-6">
                <label class="control-label"></i> Palavras-chave</label><br />
                @foreach(KeyWord key in Model.KeyWords)
                {
                    <input type="checkbox" id="SelectedKeys" name="Keys" checked=@Model.Establishment.KeyWords.Contains(key) value="@key.Id" /> @key.Description <br />
                }
            </div>
            <br />
            <div>
                <br />
                <button type="submit" class="btn btn-secondary">Salvar</button>
            </div>
        </div>
    </form>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/js/bootstrap-multiselect.js" type="text/javascript"></script>

<script>
    $('#SelectedKeys').change(function (e) {
        var optionsVal = [];
        $("#SelectedKeys option").each(function () {
            optionsVal.push($(this).val());
        });
        $.ajax({
            type: 'POST',
            url: '/Home/submit',
            traditional: true,
            dataType: "json",
            data: { SelectedSortOrderOptions: optionsVal },
            success: function () {

            },
        });
    });
</script>