@model Expenses.Models.ViewModels.CategoryViewModel

@{
    ViewData["Title"] = "Categorias";
}

<br />
<br />
<h2>@ViewData["Title"]</h2>
<br />

<div class="container">
    <form asp-action="Create">
        <legend>Cadastrar: </legend>
        <div class="row border-primary">
            <div class="col-md-6">
                <label asp-for="Category.Name" class="control-label">Nome</label>
                <input asp-for="Category.Name" class="form-control" />
                <span asp-validation-for="Category.Name" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label class="control-label"></i> Palavras-chave</label><br />
                @foreach (KeyWord key in Model.KeyWords)
                {
                    <input type="checkbox" id="SelectedKeys" name="Keys" value="@key.Id" /> @key.Description <br />
                }
            </div>
            <div>
                <br />
                <button type="submit" class="btn btn-secondary">Salvar</button>
            </div>
        </div>
    </form>
</div>