@model Expenses.Models.ViewModels.ChartViewModel

@{
    ViewData["Title"] = "Gráficos";
}
<br />
@Html.Raw(Model.ChartJ)
<div id="chartContainer"></div>

<script type="text/javascript">

	$(function () {
		var chart = new CanvasJS.Chart("chartContainer", @Html.Raw(Model.ChartJ));
		chart.render();
	});
</script>